# Discord Bot Credentials
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# Server Configuration
APP_URL=
JWT_SECRET=requiem-super-secret-key-2026

# Optional
GEMINI_API_KEY=
BLOX_WORKER_TOKEN=
